<footer>
    <div class="container widgets">
        <div class="widget">
            {% renderFile "./src/content/partials/_footer-1.md" %}
        </div>
        <div class="widget">
            {% renderFile "./src/content/partials/_footer-2.md" %}
        </div>
    </div>
    <div class="credits">
        <div class="container">
            {% renderFile "./src/content/partials/_credits.md" %}
        </div>
    </div>
</footer>
