<header class="container">
    <a href="/" aria-hidden="true">
        <img class="logo" src="/assets/images/logo.png">
    </a>
    <button id="navToggle" class="nav-toggle" aria-controls="prinaryNav">
        <span class="screen-reader-text">Show Menu</span>
        <div class="toggle-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </button>
    <nav id="primaryNav">
        <ul>
            <li><a href="/" >Home</a></li>
            <li class="has-submenu"><a href="/#services">Services</a>
                <ul>
                    <li><a href="/service/tune-ups-repairs">Tune-ups & Repairs</a></li>
                    <li><a href="/service/xtracycle">Xtracycle</a></li>
                    <li><a href="/service/new-bikes">New Bikes & Custom Builds</a></li>
                    <li><a href="/service/parts-accessories">Parts & Accessories</a></li>
                    <li><a href="/service/used-bikes-parts">Used Bikes & Parts</a></li>
                    <li><a href="/service/wheel-building">Wheel Building</a></li>
                </ul>
            </li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
