---
permalink: "./{{ slug }}/index.html"
---

<!doctype html lang="en-US">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wyse Cycles | A mobile bicycle repair shop in Harrisonburg, Virginia.</title>
        <meta name="description" content="A mobile bicycle repair shop in Harrisonburg, VA.">
        <meta property="og:image" content="/assets/images/logo.png">
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Wyse Cycles | A mobile bicycle repair shop in Harrisonburg, Virginia.">
        <meta property="og:description" content="A mobile bicycle repair shop in Harrisonburg, Virginia.">
        <meta property="og:url" content="https://wysecycles.com/">
        <meta property="og:site_name" content="Wyse Cycles">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Wyse Cycles | A mobile bicycle repair shop in Harrisonburg, Virginia.">
        <meta name="twitter:description" content="A mobile bicycle repair shop in Harrisonburg, Virginia.">
        <meta name="twitter:image" content="/assets/images/logo.png">
        <link rel="stylesheet" type="text/css" href="{{ "/assets/styles/style.css" | rev }}">
        {% if title == "Home" %}
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.3/dist/css/splide.min.css">
        {% endif %}
        <link rel="canonical" href="https://wysecycles.com/">
        <link rel="icon" href="/assets/images/Wyse_Cycles_Logo_Favicon.png" sizes="192x192">
        <link rel="apple-touch-icon" href="/assets/images/Wyse_Cycles_Logo_Favicon.png">
        <meta name="msapplication-TileImage" content="/assets/images/Wyse_Cycles_Logo_Favicon.png">
    </head>
    <body class="{{ title | slugify }}">

        {{ content | safe }}

        {% if title == "Home" %}
        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.3/dist/js/splide.min.js"></script>
        <script>
            document.addEventListener( 'DOMContentLoaded', function() {
                var splide = new Splide('.splide', {
                    type: 'loop',
                    //autoplay: true,
                });
                splide.mount();
            } );
        </script>
        {% endif %}
        <script>
            document.addEventListener( 'DOMContentLoaded', function() {
                let navToggle       = document.getElementById('navToggle');
                let navToggleStyle  = window.getComputedStyle(navToggle, null);
                let primaryNav      = document.getElementById('primaryNav');
                let navLinks        = primaryNav.querySelectorAll('a');
                if (navToggleStyle.getPropertyValue('display') == 'block') {
                    primaryNav.setAttribute('aria-hidden', 'true');
                    navLinks.forEach((link) => {
                        link.setAttribute('tabindex', '-1');
                    });
                }

                navToggle.addEventListener('click', function() {
                    var ariaHidden = primaryNav.getAttribute('aria-hidden');

                    document.body.classList.toggle('nav-open');

                    if (ariaHidden == 'true') {
                        primaryNav.setAttribute('aria-hidden', 'false');
                        navLinks.forEach((link) => {
                            link.removeAttribute('tabindex');
                        });
                    } else {
                        primaryNav.setAttribute('aria-hidden', 'true');
                        navLinks.forEach((link) => {
                            link.setAttribute('tabindex', '-1');
                        });
                    }
                })
            });
        </script>
    </body>
</html>
